/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  padding: 0;
  overflow: hidden;
}

.box {
  background: gray;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.controlPanelBox {
  background-color: lightgray;
  max-width: 70%;
  margin: auto;
  padding: 1%;
  position:relative;
  top:80px;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0%;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

ul {
  list-style: none;
  padding-left: 5px;
}


.ViewBox {
  background-color: #1aac83;
  width: 600px;
  height: 400px;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  position: relative;
  bottom: 370px;
  left: 240px;
}

.UploadButton {
  padding: 5px;
  margin: auto;
  position:relative;
  left: 240px;
  bottom: 125px;
}

#freeform {
  margin-top:150px;
  margin-left: auto;

}